@Model IEnumerable<Customer> 
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="btn-group">
        <button type="button" class="btn btn-primary">Yeni Kayıt</button>
        <button type="button" class="btn btn-primary">Aç</button>
        <button type="button" class="btn btn-primary">Sil</button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Adı</th>
                <th>Vergi Numarası</th>
                <th>Kuruluş Tarihi</th>
                <th>Telefon Numarası</th>
                <th>Adresi</th>
                <th>İl</th>
                <th>İlçe</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                </tr>

            }

</table>
</div>
