@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="btn-group">
        <button type="button" class="btn btn-primary">Yeni Kayıt</button>
        <button type="button" class="btn btn-primary">Aç</button>
        <button type="button" class="btn btn-primary">Sil</button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
            </tr>
            </table>
</div>
